.container > div {
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: #000000;
}


body {
    margin: 0;
}

html, body {
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    background-color: #000000;
}

.container > div:nth-child(1), .container > div:nth-child(3) {
    background-color: #66ff00;
}

.container > div:nth-child(2)  {
    background-color: #ff6600;
}


