.container {
    border: 5px solid #66ff00;
    display: flex;
}
/* ways to justify content in flexbox: flex-star flex-end center space-around
space-between space-even */

/* this allows the search class item to do all the flexing
.search {
    flex: 2;
} */

/* make the home and logout items flex but keep the earch item size fixed */
.home, .logout {
flex: 2;
}