.container {
    border: 5px solid #b64ce3;
    display: flex;
    height: 100%;
    align-items: center;
}


.logout {
    align-self: flex-start;
}

.home {
    align-self: flex-end;
}

/* 
Use  align-items: center;
justify-content: center; to center items on the main and cross axis. */

/* ways to justify co ntent in flexbox: flex-star flex-end center space-around
space-between space-even */

/* this allows the search class item to do all the flexing
.search {
    flex: 2;
} */

/* make the home and logout items flex but keep the earch item size fixed
.home, .logout {
flex: 2;
} */

